/* Variables */
:root {
    --background-index1: #849D8F;
    --background-index2: #8996A6;
    --background-index3: #9D8B84;
    --background-subscription: #F8F7F4;
    --color-logo: #FBFCFB;
    --white: #FFFFFF;
    --dark: #323232;
    --gray: #5A5A5A;
    --background-li-catalog: #FBDED7;
    --button: #F26843;
}
body {
  min-width: 1200px;
  min-height: 2419px;
  margin: 0;
  padding: 0;
  font-family:'Roboto',  "Arial",  sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--background-index1);
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  color: var(--white);
  text-decoration: none;
}
.content-1 {
  width: 372px;
  height: 584px;
}
.content-2 {
  width: 372px;
  height: 584px;
}
.content-3 {
  width: 372px;
  height: 584px;
}
.advantages,
.contacts,
.phone-link-contacts {
  color: var(--dark);
}
.news-subscription {
  color: var(--gray);
}
.main-header-logo {
  color: var(--color-logo);
}
.promotion {
  width: 1146px;
  height: 229px;
}
.promo-1 {
  width: 560px;
  background: #5A5A5A url("../img/raz.jpg") no-repeat center top;
}
.promo-2 {
  width: 560px;
  background: #5A5A5A url("../img/chocolate.jpg") no-repeat center top;
}
.hits {
  width: 1146px;
  height: 324px;
}
.hits-list li {
  width: 267px;
  display: inline-block;
}
.advantages {
  width: 1146px;
  height: 306px;
  background:  #FFFFFF url("../img/wafer.jpg") repeat-x center top;
}
.news {
  display: inline-block;
  width: 1146px;
  height: 220px;
}
.blog-news {
  width:560px;
  height: 220px;
  background:  #FFFFFF url("../img/bg-ice-cream.jpg") no-repeat center top;
  color: var(--dark);
}
.blog-news a {
  color: var(--dark);
}
.news-subscription {
  width:560px;
  height: 220px;
  background-color: var( --background-subscription);
}
.map {
  width: 1200px;
  height: 430px;
  background: #5A5A5A url("../img/map.jpg") no-repeat center top;
}
.button-content-buy,
.button-promo,
.button-contacts{
  background-color: var(--button);
}
.contacts {
  width: 303px;
  min-height: 306px;
}
